.table-action-buttons > :not(:first-child) {
    margin-left: 10px;                                                   
}

td.view-link {
    cursor: pointer;
    color: #1890ff;
}

.td-title-center {
    text-align: center !important;
}

/* fit the table column without wrap and expand only to the required width */
.td-fit, .description-label-fit table th, .description-item-fit table td {
    width: 1px;
    white-space: nowrap;
}