td.view-link {
    cursor: pointer;
    color: #1890ff;
}

.td-title-center {
    text-align: center !important;
}

/* fit the table column without wrap and expand only to the required width */
.td-fit, .label-fit table th {
    width: 1px;
    white-space: nowrap;
}